body{
    background-size:contain;
   
    background-repeat:no-repeat;
    
  }
  #p{
    color:orangered;
    font-size: 70px;
    font-family:
  }
  #p1{
    color:white;
   font-family:;
    font-size:60px
  }
  #p2{
    color:lime;
    font-size:70px
  }
  #para{
    color:orangered;
    font-size:25px
  }
  #pa2{
    color:white;
    font-size:25px
  }
  #pa1{
    color:green;
    font-size:25px
  }
  #p3{
    color:red;
      font-size:25px
  }
  #pa{
    color:white;
    font-size:40px
  }
  
  iframe{
    height:400px;
    width:700px
  }
  #para-2{
    color:orangered;
    font-size:25px;
  }
 
 
 